.loader {
  display: flex;
  gap: 6px;
  align-items: center;
  margin-top: 14px;
}

.loader span {
  width: 8px;
  height: 8px;
  background: white;
  border-radius: 50%;
  animation: bounce 0.6s infinite alternate;
}

.loader span:nth-child(1) {
  animation-delay: 0s;
}

.loader span:nth-child(2) {
  animation-delay: 0.2s;
}

.loader span:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes bounce {
  from {
    transform: translateY(0);
    opacity: 0.5;
  }

  to {
    transform: translateY(-6px);
    opacity: 1;
  }
}